@model web_Core.Models.Computer;
@{
Layout=null;
}


    <div class="modal-content bg-dark">
        <div class="modal-header">
            <div class="modal-content">

                <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Авторизация</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body —> -->
                    <div class="modal-body">
                        <p>
                            <dt>Логин</dt>
                            <dt>@Html.Editor("Name")</dt>
                        </p>
                        <p>
                            <dt>Пароль</dt>
                            <dt>@Html.Editor("Name")</dt>
                        </p>

                        <p>
                            <input type="submit" class="btn btn-dark" value="Войти" />
                        </p>
                        <p>
                            <input type="submit" class="btn btn-link" value="Забыли пароль" />
                        </p>
                    </div>

                        <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

            </div>
        </div>
    </div>