<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>

        <div class="container">
            <div class="row  py-1  ">
                <div class="col-3">
                    <a href="#">
                        <img style="height: 60px;" src="~/images/logo.png" alt="логотип">
                    </a>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-center">
                    <nav class="navbar navbar-expand-lg navbar-dark justify-content-end">
                        <ul class="nav navbar-nav navbar-menu-center menu">
                            <li class="nav-item"> <a class="nav-link text-warning" href="#">8 906 118 05 05</a> </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-outline-info">Заказать Звонок</button>
                            </li>
                            <li class="nav-item"> <a class="nav-link text-success" href="#">Helpdesk</a> </li>
                            <li class="nav-item"> <a class="nav-link text-white" href="#">Компания</a> </li>
                            <li class="nav-item"> <a class="nav-link text-white" href="#">Блог</a> </li>

                            <li class="nav-item "> <a class="nav-link text-white" href="#">Услуги <span class="sr-only">(current)</span></a> </li>

                            <li class="nav-item"> <a class="nav-link text-white" href="#">Контакты</a> </li>
                            <li class="nav-item"> <a class="nav-link text-danger" href="#">Войти</a> </li>


                        </ul>
                    </nav>
                </div>
            </div>
           </div> <!--div container  -->

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Influx - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
